body{
    background-color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
}

/*NAV BAR TOP*/

header{
    display: flex;
    background-color:white;
    height: 135px; 
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 10px rgb(168, 168, 168);
    z-index: 1;
}

nav{
    /* background-color: #8d43e8; */
    display: flex;
    margin-left: 58em;
    gap: 60px;
    align-items: center;
    height: 100px;
}

a{
    text-decoration: none;
}

.navOption, #naVioleta{
    /* background-color:antiquewhite;           idk how to make the text be */
    font-size: 32px;                                    /*align inside the box i did it by eye*/
    border-radius: 0.7em;
    height: 60px;
    padding-left: 0.8em;
    padding-right: 0.8em;    
    /* text-align: center;*/                       /*why this one doesn't work*/
}

.navOption:hover{
    border-style: solid;
    border-width: 0.01em;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
}

#naVioleta{
    background-color: #8d43e8;
    color: white;
    border-radius: 30px;

}

#naVioleta:hover{
    background-color:#9b4ef9b9;
    border-style: none;
}

/*INTRODUCTION OF MYSELF*/

.presentacion{
    background-color: rgb(255, 255, 255)/*GRIS*/;
    padding-top: 1px;
    height:75em;
}

.prueba{
    background-color: rgb(255, 255, 255)/*GRIS*/;
    width: 60em;
    height: 28em;
    margin-left: 90px;
    margin-top: 25em;
}

.hi, h1, .webDevoloper, .hago{
    display: flex;
    background-color: rgb(255, 255, 255)/*GRIS*/;
    width: 900px;
    height: 90px;
    align-items: center;
    margin-top: -0.4em;
    margin-left: auto;              /*for some reason it centered my text*/
    margin-right: auto;             /*instead to use text-align:center*/
}

img{
    background-color:rgb(255, 255, 255); /*GRIS*/
    margin-left: 69em;
    margin-top: -30em;
}

.hago{
    background-color:rgb(161, 94, 224);
    width: 9em;
    border-radius: 30px;
    height: 2.5em;
    padding-left: 1em;
    margin-left: 3em;
    color: white;
}

.hago:hover{
    background-color:#9b4ef9b9;
    border-style: none;
}

/*knowdlege section -middle-*/

.conocimientos{
    background-color:#bae8e8;
    display: flex;
    flex-direction: column;
    margin-top: -4em;
    height: 90em;
    text-align: center;         /*why text align it does work in this situation?*/

}

.tarjetas{
    background-color: #bae8e8;
    display: flex;
    flex-direction: column;
    height: 35em;
    width: 40em;
    margin-left: 7.5em;
    padding-top: 5em;
}

#lorem{
    background-color: #bae8e8;
    display: flex;
    width: 30em;
    justify-content: center;
    margin-left: 8em;
    margin-top: -1em;
}

.tarjetas, .linea1 .linea2{
    font-size: 35px;
}

.linea1{
    background-color:#bae8e8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
}

.tarjeta1{
    background-color: white;
    width: 10em;
    height: 10em;
    border-radius: 5%;
}

.linea2{
    background-color:#bae8e8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tarjeta2{
    background-color:white;
    width: 10em;
    height: 10em;
    border-radius: 5%;
    margin-top: 1em;
}

/*QUOTE SECCTION*/
.frase{
    background-color: rgb(236, 236, 236);
    margin-top: -2.2em;
    height: 45em;
    padding-left: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.quote{
    /* background-color: rgb(161, 94, 224); */
    margin-left: -4em;
    width: 25em;
    color: black;
}
.someone{
    /* background-color: rgb(161, 94, 224); */
    width: 5em;
    margin-left: 6em;
    color: black;
}

/*PROYECTS SECCTION*/
.proyectos{
    background-color:white;
    margin-top: -0.99em;
    height: 115em;
}

.trabajos{
    background-color:white;
    width: 40em;
    margin-left: 7.5em;
    padding-top: 5em;
    height: 45em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#trabajoTexto{
    background-color: white;
    width: 30em;
    margin-left: 8.7em;
    margin-top: -1em;
    display: flex;
    justify-content: center;
}

.trabajos, .vista1 .vista2{
    font-size: 35px;
}

.trabajo1{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2em;
}

.vista1{
    background-color: rgba(193, 151, 225, 0.785);
    width: 10em;
    height: 10em;
    border-radius: 5%;
}

.trabajo2{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1em;
}

.vista2{
    background-color:rgba(193, 151, 225, 0.785);
    width: 10em;
    height: 10em;
    border-radius: 5%;
}

.trabajo3{
    background-color:white;
    display: flex;
    justify-content:left;
    flex-direction: row;
    margin-top: 1em;
}

.vista3{
    background-color:rgba(193, 151, 225, 0.785);
    width: 10em;
    height: 10em;
    border-radius: 5%;
    margin-left: 1.7em;
}

/*CONTACTO - FORMULARIO*/
.fondoContacto{
    background-image: linear-gradient(to right top, #c1a1f8, #cbb4fd, #e0d6ff, #e0d6ff, #eafdfd);
    height: 75em;
    width: 100%;
    position: relative
}

.informacion{
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(222, 222, 222);
    width: 100em;
    height: 60em;
    border-radius: 5%;
    margin-left: 8.5em;
    top: 10em;
    position: absolute;
}

.redes{
    background-color: transparent;
    width: 50%;
    height: 55em;
    padding-top: 2em;
    border-radius: 5%;
    margin-left:3em;
}

#contactoTexto{
    background-color: white;
    width: 20em;
    text-align: left;
}

ul{
    padding-left: 6em;
    padding-top:5em;
    line-height: 3em;
}

.link{
    background-color: white;
    display: flex;
    align-items: flex-start;
    width: 5em;
    color: black;
}

/*CONTACT FORM*/
.contacto{
    background-color: transparent;
    width: 50%;
    margin-left:50em;
    margin-top: -55em;
    height: 50em;
}

form{
    text-align: left;
    font-size:30px;
}

input:hover{
    border-width: 0.2em;
    border-radius: 5%;
}



